@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
#HomeText{
  text-align: center;
}

#logoHome{
    max-width: 300px;
    padding: 5px;
    margin-right: 20px;
    margin-left: 15px;
}

/* Estilização global para HTML e body */
html, body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: black;
}

/* Estilos para texto com classe .NeonText */
.NeonText {
  text-align: center;
  color: white;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

/* Estilos para links */
a {
  color: white;
  font-weight: bold;
}

