@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Estilos base (para telas menores) */
#head {
  padding: 20px;
  margin-top: 500px; /* Reduzi a margem superior para 10px */
  text-align: left;
}

#head h1.NeonText {
  display: inline-block;
  font-size: 32px;
  margin-right: 20px;
}

#body {
  margin-top: 10px; /* Ajustei a margem superior para 10px */
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#desc1, #desc2, #desc3, #desc4, #desc5 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px; /* Ajustei a margem esquerda para 20px */
  margin-right: 20px;
  position: relative;
}

/* Estilos para a primeira seção de fotos */
#Fotos {
  display: flex;
  flex-direction: column; /* Adicionado para dispor os itens em uma coluna */
  justify-content: flex-start;
}

#Fotos > div {
  flex: 0 0 calc(20% - 20px);
  margin-right: 20px;
  margin-bottom: 20px; /* Adicionei margem inferior para espaçamento */
  margin-top: 10px; /* Adicionei margem superior para espaçamento */
  text-align: center;
}

#Fotos img {
  max-width: 100%;
  height: auto;
}

#linha1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#linha2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#caipirinha,
#lagoaazul,
#cubalibre,
#vodkacocktail,
#moscow,
#fernet,
#negroni,
#margarita,
#mojito,
#manhattan {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#vodkacocktail img {
  margin-right: 20px;
}

#caipirinha img,
#fernet img,
#margarita img,
#manhattan img,
#lagoaazul img,
#mojito img,
#negroni img,
#moscow img,
#cubalibre img,
#vodkacocktail img {
  width: 80%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
  margin-right: 20px;
}

#desc5 {
  margin-left: 28px;
  margin-right: 20px;
}

#fernet {
  margin-left: 20px;
}

#desc6, #desc7 {
  font-size: 18px;
  margin-left: 20px; /* Ajustei a margem esquerda para 20px */
  position: relative;
  text-align: center;
}

#desc8, #desc9, #desc10 {
  font-size: 18px;
}

#manhattan {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#linha1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#linha2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}