#head {
  padding: 20px;
}

#head h1.NeonText {
  display: inline-block;
  font-size: 36px;
  margin-right: 20px;
}

#body {
  margin-top: 60px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#desc1, #desc2, #desc3, #desc4, #desc5 {
  font-size: 18px;
  display: inline;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  float: left;
}

#Fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Fotos > div {
  flex: 0 0 calc(20% - 20px);
  margin-right: 20px;
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

#Fotos img {
  max-width: 100%;
  height: auto;
}

#caipirinha,
#lagoaazul,
#cubalibre,
#vodkacocktail,
#negroni {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#caipirinha img {
  width: 100%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
}

#lagoaazul img, #negroni img, #cubalibre img {
  width: 100%;
  max-width: 322px;
  margin-left: 22px;
}

#vodkacocktail img {
  width: 80%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
}

#desc1 {
  margin-left: 83px;
}

#desc2, #desc3 {
  margin-left: 60px;
}

#desc4 {
  margin-left: 60px;
}

#desc5 {
  margin-left: 28px;
}
