#head{

}
#head h1.NeonText {
    display: inline-block;
    margin-right: 20px; /* Espaçamento entre os elementos h1 */
  }
#body {
    margin-top: 100px; /* Espaçamento superior para o elemento h2 */
  }