/* Estilos base (para telas menores) */
#head {
  padding: 20px;
}

#head h1.NeonText {
  display: inline-block;
  font-size: 36px;
  margin-right: 20px;
}

#body {
  margin-top: 60px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#desc1, #desc2, #desc3, #desc4, #desc5 {
  font-size: 18px;
  display: inline;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  float: left;
}

/* Estilos para a primeira seção de fotos */
#Fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Fotos > div {
  flex: 0 0 calc(20% - 20px);
  margin-right: 20px;
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

#Fotos img {
  max-width: 100%;
  height: auto;
}

#caipirinha,
#lagoaazul,
#cubalibre,
#vodkacocktail,
#negroni {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#caipirinha img {
  width: 100%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
}

#lagoaazul img, #negroni img, #cubalibre img {
  width: 100%;
  max-width: 322px;
  margin-left: 22px;
}

#vodkacocktail img {
  width: 80%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
}

#desc1 {
  margin-left: 83px;
}

#desc2, #desc3 {
  margin-left: 60px;
}

#desc4 {
  margin-left: 60px;
}

#desc5 {
  margin-left: 28px;
}

/* Estilos para a segunda seção de fotos */
#Fotos2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Fotos2 > div {
  flex: 0 0 calc(20% - 20px);
  margin-right: 20px;
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

#Fotos2 img {
  max-width: 100%;
  height: auto;
}

#caipirinha2,
#lagoaazul2,
#cubalibre2,
#vodkacocktail2,
#negroni2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#caipirinha2 img {
  width: 100%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
}

#lagoaazul2 img, #negroni2 img, #cubalibre2 img {
  width: 100%;
  max-width: 322px;
  margin-left: 22px;
}

#vodkacocktail2 img {
  width: 80%;
  max-width: 400px;
  max-height: 600px;
  margin-left: 20px;
}

#desc6 {
  margin-left: 83px;
}

#desc7, #desc8 {
  margin-left: 60px;
}

#desc9 {
  margin-left: 60px;
}

#desc10 {
  margin-left: 28px;
}